<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    
   
      <script>
       
      function stringlength(inputtxt, minlength, maxlength)
      { 
        var field = inputtxt.value; 
        var mnlen = minlength;
        var mxlen = maxlength;

        if(field.length<mnlen || field.length> mxlen)
        { 
          alert("Please input the userid between " +mnlen+ " and " +mxlen+ " characters");
          return false;
        }
        else
        { 
        alert('Your userid have accepted.');
        return true;
        }
      }


    </script>

    <section class="container"> 
<center>
      
</center>
      <header>Add User Form</header>
      <form action="/userList" class="form" method="POST">

        <div class="input-box">
          <label>Full Name</label>
          <input type="text" name="name" placeholder="Enter full name">
        </div>

        <div class="input-box">
          <label>Email Address</label>
          <input type="text" placeholder="Enter email address" name="email">
        </div>

        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="number" placeholder="Enter phone number" name="phno">
          </div>
          <!-- <div class="input-box">
            <label>Birth Date</label>
            <input type="date" placeholder="Enter birth date" required />
          </div> -->
        </div>

        

        
        <button type="submit">Add User</button> 
      </form>
    </section>
  </body>
</html>